*{
  margin:0px;
  padding:0px;
}
body{
  background-image: url(bg_pattern.png);
}
#countdownContainer{
  position: absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  text-align:center;
  background-color: #f8b195;
  border: 0px solid #6C5B7B;
  border-radius:8px;
  padding: 25px;
  box-shadow: 0 0 35px 1px #888;

}
.title{
  font-size: 65px;
  font-family: 'dosis', arial;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  background-color: #f67280;
  color:#fff;
  text-shadow: 4px 4px 12px #6c5B7B;
  box-shadow: 2px 2px 9px 1px #555;

}
#value {
  font-size: 60px;
  font-family: 'Dosis', cursive;
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  background-color: #c06c84;
  box-shadow: 2px 2px 9px 1px #555;
}
ul {
  list-style-type: none;
}

#value ul li{
    color:#fff;
    width: 150px;
    display: inline-block;
    text-shadow: 4px 4px 12px #6c5B7B;
    transform 0.4s ease-in-out;
}

#labels{
  box-shadow: 2px 2px 9px 1px #555;
}
#labels ul li{
    color:#fff;
    display: inline-block;
    width: 130px;
    padding: 12px;
    text-shadow: 2px 2px 12px #444;

}
.list{
  font-size: 24px;
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  background-color: #6C5B7B;
}
